{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<!-- EN TETE -->
<header class="container-fluid d-none d-sm-none d-md-none d-lg-block d-xl-block pr-0 mr-0 ml-0">
    <div class="row">
        <!-- LOGO -->
        <div id="logo" class="col-lg-2 mt-2 pl-5">
            <a href="{{ path('accueil') }}"><img src="{{ asset('assets/images/logo/logo_carotte.png') }}" alt="logo de La Loco Bio"></a>
        </div>

        <!-- TITRE -->
        <div class="col-lg-10 mt-1 mr-0">
            <div id="en_tete" class="row mr-0">
                <div id="titre_en_tete" class="col-lg-5">
                    La Loco Bio
                </div>
                <div id="sous_titre" class="col-lg-5 d-none d-sm-none d-md-none d-lg-block d-xl-block">
                    Epicerie Biologique Cooperative
                </div>
            </div>


            <!-- NAVBAR-->
            <div class="row">
                <div class="col-lg-10 pl-0 mt-2 mr-0 pr-0">

                    <nav class=" nav navbar-expand-lg navbar-custom">
                        <!-- LIEN MENU -->
                        <ul class="navbar-nav" id="cust-nav">
                            <li class="nav-item">
                                <a class="nav-link active pl-0 mr-4 active" href="{{ path('accueil') }}">Accueil</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="{{ path('cooperative') }}">La Coopérative</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="{{ path('producteurs') }}">Nos Producteurs</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link mr-4" href="{{ path('surcommande') }}">Sur Commande</a>
                            </li>
                            <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle mr-4" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      Radio Loco
                                    </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                        <a class="dropdown-item" href="{{ path('rdvdumois_article') }}">Le rendez-vous du mois</a>
                                        <a class="dropdown-item" href="{{ path('onvaplusloin_article') }}">On va plus loin</a>
                                    </div>
                                  </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        <!-- LIGNE VERTE -->
        <div class="container-fluid px-0">
            <div class="row">
                <div id="green_line" class="col-lg-12"></div>
            </div>
        </div>

</header>

<!-- HEADER RESPONSIVE AVEC TOGGLER -->
<header class="mr-0 ml-0">
    <div id="responsive_header" class="container-fluid d-block d-sm-block d-md-block d-lg-none d-xl-none px-2">
        <nav class="navbar navbar-custom px-0 mr-0">
            <a id="titre_en_tete_responsive" class="navbar-brand d-flex align-items-center" href="#">
                <img class="mr-3 ml-2" src="asstes/images/logo/logo_carotte.png" width="50" height="50" alt="logo_carotte">
                La Loco Bio
            </a>
            <!-- TOGGGLER/COLLAPSIBLE BUTTON -->
            <button class="navbar-toggler navbar-light d-block d-sm-block d-md-block d-lg-none d-xl-none"
                type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="btn-toggler-icon"></span>
                <span class="btn-toggler-icon"></span>
                <span class="btn-toggler-icon"></span>
            </button>

            <!-- LIEN RESPONSIVE-->
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav" id="cust-nav">
                    <li class="nav-item">
                        <a class="nav-link active pl-0" href="{{ path('accueil') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('cooperative') }}">La Coopérative</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('producteurs') }}">Nos Producteurs</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('surcommande') }}">Sur Commande</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Radio Loco
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{ path('rdvdumois_article') }}">Le rendez-vous du mois</a>
                            <a class="dropdown-item" href="{{ path('onvaplusloin_article') }}">On va plus loin</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('contact') }}">Contact</a>
                    </li>
                </ul>
        </nav>
    </div>
</header>
<!-- FIN DE L'EN-TETE -->

<div class="container mt-4 mb-4 p-5" style="background-color: #87A713; height:auto; border-radius: 30px; ">
    <div class="row">
        <div class="col-lg-12">
            <p class="text-center text-uppercase" style="letter-spacing: 2px; font-size: 2.5em; color:white; font-weight: bold; text-shadow: 0 .5rem 1rem rgba(102, 47, 47, 0.15);">Inscription</p>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.nom) }}
                {{ form_row(registrationForm.prenom) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.motDePasse) }}

                <button style="background-color: white; color: #87A713; font-weight: bold;" type="submit" class="btn float-right mt-3">S'inscrire</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
</div>
{% endblock %}
